@(messageForm: Form[String], messagePosted: String = "")(implicit messages: Messages)

@import helper._

<!DOCTYPE html>
<html>
<head>
    <title>Form example</title>
</head>
<body>

<h1>"Welcome to Dotto!"</h1>

@form(action = routes.DottoController.toMorse()) {
@inputText(field = messageForm("message"), args = 'size -> 50, 'placeholder -> "Message")
}

@if(!messagePosted.isEmpty) {
<h2>Your message: "@Html(messagePosted)" has been translated and added to the queue. Do you want to post another
    message?</h2>
}

</body>
</html>

